In [1]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

# Questions 1

Numpy is a Python library or database that assists in working with arrays. Specifically linear algebra, matrices, and fourier transformations. Panda is a dataframe that assists with data analysis, like information in Microsoft Excel. Mathplotlib helps with exactly what the title infers, plotting.

# Question 2

Dataframe like the football one from class without the year:

In [3]:
data = {
    'team' : [
        'FCBarcelona', 'FCBarcelona',
        'FCBarcelona', 'RMadrid',
        'RMadrid', 'RMadrid',
        'ValenciaCF', 'ValenciaCF',
        'ValenciaCF'
    ],
    'wins' : [30, 28, 32, 29, 32, 26, 21, 17, 19],
    'draws' : [6, 7, 4, 5, 4, 7, 8, 10, 8],
    'losses' : [2, 3, 2, 4, 2, 5, 9, 11, 11]
}

football = pd.DataFrame(
    data ,
    columns = [
         'team' , 'wins' , 'draws' , 'losses'
    ]
)

football

          team  wins  draws  losses
0  FCBarcelona    30      6       2
1  FCBarcelona    28      7       3
2  FCBarcelona    32      4       2
3      RMadrid    29      5       4
4      RMadrid    32      4       2
5      RMadrid    26      7       5
6   ValenciaCF    21      8       9
7   ValenciaCF    17     10      11
8   ValenciaCF    19      8      11

# Question 3

What's a dictionary in Python? A dictionary is a shortcut that represents a set of data. This is done by assigning names to different values. For example, a can stand for apple and 'year' can stand for (1998. 1999). They are identified within curly brackets. ie my_dict= {1: 'apple', 2: 'ball'} There is also a built in dict() function that makes it easier to use. You can print out individual elements of a dictionary by using the print function. ie print(my_dict(1)) would print out "apple" based on the previous example.

# Question 4

Parameters from the FootballDataframe file include (), {}, and []. All of these create different types of groupings and distinctions for the computer to read.

# Question 5

In [4]:
jimmy = 2

English

In [2]:
jimmy**2

4

Multiplies the value of jimmy, set as 2, by 2. 2 times 2 equals 4, the output.

In [5]:
jimmy + 10

12

Adds 10 to the value of Jimmy, 2, which equals 12.

Jimmy is an integer because the computer can take the value and calculate things from this data.