In [1]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [2]:
cen = pd.read_csv('census.csv')
cen

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

# Question 1
Define a piecewise function using an "if, elif, else" statement

In [ ]:
def piecewise(x):
    if (x==44): return 1
    if (x==47): return 2
    else: return 0
cen['age'].apply(piecewise)

# Question 2
What are the different ways of handling ties using "rank()"?

# Question 3
Without changing the original census dataframe, create a copy of the census dataframe and remove all rows with missing data and adds the following columns

square root of total family income (use apply())

total family income adjusted to 2020-dollars, use average inflation rate of 1.2% increase each year (use lambda functions)

birth year of person filling out the census (there is a way to do this very quickly, but it takes some thought)

In [4]:
census = cen.dropna()
census['family_income_root'] = census['total_family_income']**.5

census

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income,family_income_root
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0,120.623381
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0,150.996689
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0,0.000000
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0,219.089023
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0,272.029410
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0,151.657509
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0,272.029410
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0,244.948974
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0,120.830460
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0,0.000000
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0,192.353841
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0,178.885438
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0,277.308492
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0,316.385840
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0,219.089023
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0,239.165215
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0,209.642553
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0,221.359436
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0,177.763888
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0,254.558441
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0,195.754949
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0,0.000000
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0,265.894716
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0,254.558441
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0,244.948974
31,2000,Florida,118100.0,18,Female,White,Never married/single,7500.0,343.656806
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0,144.913767
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0,200.000000
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0,131.529464
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0,247.588368
...,...,...,...,...,...,...,...,...,...
452,2000,Mississippi,1400.0,32,Female,Black,Never married/single,1400.0,37.416574
453,2000,Mississippi,39900.0,46,Female,White,Married/spouse present,25000.0,199.749844
454,2000,Mississippi,57700.0,45,Female,Black,Married/spouse present,0.0,240.208243
457,2000,Missouri,16300.0,70,Male,White,Married/spouse present,11800.0,127.671453
458,2000,Missouri,54000.0,41,Female,Black,Never married/single,54000.0,232.379001
460,2000,Missouri,15600.0,44,Female,White,Divorced,14000.0,124.899960
461,2000,Missouri,9400.0,81,Female,White,Widowed,9400.0,96.953597
463,2000,Missouri,25280.0,81,Male,White,Married/spouse present,16300.0,158.996855
464,2000,Missouri,55500.0,17,Female,White,Never married/single,0.0,235.584380
465,2000,Missouri,22200.0,30,Male,White,Married/spouse present,15700.0,148.996644
468,2000,Pennsylvania,74490.0,42,Male,White,Married/spouse present,68020.0,272.928562
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0,200.748599
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0,136.381817
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0,0.000000
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0,154.919334
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0,133.416641
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0,181.659021
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0,209.761770
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0,157.162336
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0,0.000000
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0,262.678511
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0,245.560583
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0,413.521463
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0,320.936131
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0,227.376340
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0,346.121366
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0,134.164079
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0,92.195445
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0,122.474487
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0,198.418749

In [5]:
inflation = lambda x : x*(1.012**20)

family_income_inflation = census['total_family_income'].apply(inflation)
family_income_inflation = census['family_income_inflation']
census

KeyError: 'family_income_inflation'

In [ ]:
def d(x):
    x1 = 2000-x
    return x1
cen_birth_year = cen['age'].apply(d)
cen_birth_year.head()

# Question 4
Create two new dataframes containing all columns of the original 'census' dataframe restrictied to include: 

Only males with the "total family income" in increasing order.  

Only females with the "total family income" in decreasing order.

In [ ]:
cen_male= cen[cen['sex']=='Male']
cen_male.sort_values(by='total_family_income', ascending=True, inplace=True)
cen_male

In [ ]:
cen_female= cen[cen['sex']=='Female']
cen_female.sort_values(by='total_family_income', ascending=False, inplace=True)
cen_female

# Question 5
Create and print a new dataframe that has the average "total family income" in each state.

In [ ]:
cen_hw5 = cen [['state_fips_code','total_family_income']].groupby('state_fips_code').mean()
cen_hw5

# Question 6
Create and print a new dataframe with the average age for each race.

In [ ]:
cen_hw6 = cen[['race_general','age']].groupby('race_general').mean()
cen_hw6

# Question 7
Print a pivot table that gives the average personal income in each state, separating by sex.

In [ ]:

cen_hw7 = pd.pivot_table(
    cen,
    values = 'total_personal_income',
    index = 'state_fips_code',
    columns = 'sex',
    aggfunc = np.mean
)
cen_hw7

# Question 8
Print a scatterplot of personal income by age.

In [ ]:
cen.plot(x= 'age', y = 'total_personal_income', kind = 'scatter', title = 'personal income and age')

# Question 9
Print a histogram of all family incomes.

In [ ]:
cen['total_family_income'].hist()

# Question 10
Print a histogram of all state average family incomes.

In [ ]:
cen_state_avg_family_income= cen[['state_fips_code','total_family_income']].groupby('state_fips_code').mean()
cen_state_avg_family_income.hist()