In [6]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [12]:
file = open('adult.data', 'r')
def chr_int(a):
    if a.isdigit(): return int(a)
    else: return 0
    
data = []
# creating an empty array
for line in file:
    data1 = line.split(', ')
    if len(data1) == 15:
        data.append([
            chr_int(data1[0]), data1[1],
            chr_int(data1[2]), data1[3],
            chr_int(data1[4]), data1[5],
            data1[6], data1[7], data1[8],
            data1[9], chr_int(data1[10]),
            chr_int(data1[11]),
            chr_int(data1[12]),
            data1[13], data1[14].strip()
        ])
data[0:2]

[[39,
  'State-gov',
  77516,
  'Bachelors',
  13,
  'Never-married',
  'Adm-clerical',
  'Not-in-family',
  'White',
  'Male',
  2174,
  0,
  40,
  'United-States',
  '<=50K'],
 [50,
  'Self-emp-not-inc',
  83311,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  13,
  'United-States',
  '<=50K']]

# Worksheet 2

- What does the 'r' do in the first line?
    - Makes sure that the data is being read into R
- Describe the function chr_int in the second line
    - takes value entered and changes it
    - if the input 'a' is a digit, it turns it into an integer
    - if 'a' is not a digit then it returns 0
- Try compiling this with the 'datal = line.split(', ')' without that space, what happens?

# Worksheet 3

- What might be the best data structure to place this data in?
dataframe

In [13]:
# turn data (which is currently an array/list) into a dataframe

adult = pd.DataFrame(
    data,
    columns = [
        'age' , 'type-employer' , 'fnlwgt' ,
        'education' , 'education_num' , 'marital' ,
        'occupation' , 'relationship' , 'race' , 
        'sex' , 'capital_gain' , 'capital_loss' ,
        'hr_per_week' , 'country' , 'income'
    ]
)

adult.head()

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Worksheet 4
The last cell has a bunch of column names, but the original data file didn't have any column names. How does Python know how to associate column name to its column. 

The commas separate the different column entries. Each line has a siliar organization/order to the data. 

There is more freedom in naming each column.

## Worksheet 5
Print the first few lines of the adult dataframe. Go to the pandas documentation website and read about the 'columns' parameter. 

See above, the head is printed.

### Recall the guiding research question
Are men more likely than women to become high income earners? Where hihg income is earning more than $50K/year

This is referring to a proportion of men who earn above, below and equal to the amount. This is different than asking if male ER doctors earn more than female ER doctors.

#### We'll use this research question to insprie the creation of several sub-dataframes to make our analysis a bit easier.

For example
- all men
- all women
- high income men
- high income women
- low income men
- low income women

# Worksheet 6

In [14]:
# filtering columns
men = adult[ adult['sex'] == 'Male' ]
women = adult[adult['sex'] == 'Female']
men_high_income = men[ men['income'] == '>50K' ]
women_high_income = women[ women['income'] == '>50K' ]
men_low_income = adult[ (adult['sex']=='Male') & (adult['income']=='<=50K') ]
women_low_income = adult[ (adult['sex']=='Female') & (adult['income']=='<=50K') ]

In [15]:
women_high_income

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
125,47,Private,287828,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,>50K
143,45,Private,196584,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,1564,40,United-States,>50K
197,40,Federal-gov,56795,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,14084,0,55,United-States,>50K
208,58,Self-emp-inc,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,0,35,United-States,>50K
250,41,Private,112763,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
269,33,Private,222205,HS-grad,9,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,40,United-States,>50K
279,24,Private,279472,Some-college,10,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,7298,0,48,United-States,>50K
313,36,Self-emp-not-inc,205607,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Black,Female,0,0,40,United-States,>50K
327,43,Private,187728,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1887,50,United-States,>50K
368,57,Private,212448,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
387,44,Private,162028,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,2415,6,United-States,>50K
390,35,Private,220098,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States,>50K
408,28,?,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
422,32,State-gov,92003,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,>50K
433,30,Private,29662,Assoc-acdm,12,Married-civ-spouse,Other-service,Wife,White,Female,0,0,25,United-States,>50K
454,44,Self-emp-not-inc,234885,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
469,30,Private,118551,Bachelors,13,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,16,United-States,>50K
533,41,Private,101739,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,50,United-States,>50K
554,33,Federal-gov,319560,Assoc-voc,11,Divorced,Craft-repair,Unmarried,Black,Female,0,0,40,United-States,>50K
633,30,Private,103649,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Black,Female,0,0,40,United-States,>50K
665,42,Private,341204,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,8614,0,40,United-States,>50K
704,46,Private,295566,Doctorate,16,Divorced,Prof-specialty,Unmarried,White,Female,25236,0,65,United-States,>50K
705,44,Private,63042,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Female,0,0,50,United-States,>50K
742,42,Private,151408,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31671,40,Federal-gov,78036,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,65,United-States,>50K
31714,43,Private,169628,Bachelors,13,Never-married,Sales,Unmarried,Black,Female,0,0,35,United-States,>50K
31747,42,Private,170230,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
31752,37,Private,140673,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
31773,26,Private,184872,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,55,United-States,>50K
31776,64,Private,60940,HS-grad,9,Widowed,Sales,Not-in-family,White,Female,8614,0,50,France,>50K
31881,52,Federal-gov,76131,Some-college,10,Married-civ-spouse,Exec-managerial,Wife,Asian-Pac-Islander,Female,0,0,40,United-States,>50K
31906,48,Private,313925,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,30,United-States,>50K
31953,37,Private,103121,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1848,40,United-States,>50K
31998,52,?,89951,12th,8,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,>50K
32027,46,Local-gov,140219,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,8614,0,55,United-States,>50K
32063,30,Private,176410,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Own-child,White,Female,7298,0,16,United-States,>50K
32081,49,Local-gov,106554,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,>50K
32102,61,Local-gov,153408,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,>50K
32115,29,Private,119359,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,10,China,>50K
32135,48,Private,175070,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,2258,40,United-States,>50K
32247,44,Federal-gov,38434,Bachelors,13,Widowed,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,>50K
32256,41,Private,182108,Doctorate,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K
32297,47,Private,160474,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,30,United-States,>50K
32311,54,Private,161691,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,2559,40,United-States,>50K
32347,36,State-gov,212143,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32386,59,Federal-gov,23789,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
32429,51,Local-gov,203334,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
men_low_income.head()

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K

In [25]:
women.head()

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K

# Worksheet 1 M2T3
Numerical:
- age, final weight, hours per week, capitol loss

Categorical: 
- type employer, education, marital, occupation, relationship, education number, sex, race, country, income

# Module 2 Topic 3 - EDA Basics

One of the tasks of EDA is to figure out how much and what kind of data you have. One way of finding out how much is the following python function...

In [23]:
adult.shape

(32561, 15)

Notice there are 15 columns. These are alternatively called:
- column
- variable
- feature
- covariate

## Worksheet 2 M2T3

Find the size of some of those dataframes: women, men, etc

In [16]:
women.shape

(10771, 15)

In [22]:
men.shape

(21790, 15)

In [18]:
men_low_income.shape

(15128, 15)

In [19]:
women_low_income.shape

(9592, 15)

In [20]:
men_high_income.shape

(6662, 15)

In [21]:
women_high_income.shape

(1179, 15)

Significantly less data entries for women, will skew the other results because of ratio.

Some questions to think about when performing an EDA:

- What are some of the features, variables, or columns in the data set? 
- Are they numerical or categorical?
- Does the data seem sensible? Is it relevant?