In [41]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [42]:
file = open('adult.data', 'r')
def chr_int(a):
    if a.isdigit(): return int(a)
    else: return 0
    
adult = []
# creating an empty array
for line in file:
    data1 = line.split(', ')
    if len(data1) == 15:
        adult.append([
            chr_int(data1[0]), data1[1],
            chr_int(data1[2]), data1[3],
            chr_int(data1[4]), data1[5],
            data1[6], data1[7], data1[8],
            data1[9], chr_int(data1[10]),
            chr_int(data1[11]),
            chr_int(data1[12]),
            data1[13], data1[14].strip()
        ])
adult[0:2]

[[39,
  'State-gov',
  77516,
  'Bachelors',
  13,
  'Never-married',
  'Adm-clerical',
  'Not-in-family',
  'White',
  'Male',
  2174,
  0,
  40,
  'United-States',
  '<=50K'],
 [50,
  'Self-emp-not-inc',
  83311,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  13,
  'United-States',
  '<=50K']]

# Worksheet 2

- What does the 'r' do in the first line?
    - Makes sure that the data is being read into R
- Describe the function chr_int in the second line
    - takes value entered and changes it
    - if the input 'a' is a digit, it turns it into an integer
    - if 'a' is not a digit then it returns 0
- Try compiling this with the 'datal = line.split(', ')' without that space, what happens?

# Worksheet 3

- What might be the best data structure to place this data in?
dataframe

In [43]:
# turn data (which is currently an array/list) into a dataframe

adult = pd.DataFrame(
    data,
    columns = [
        'age' , 'type-employer' , 'fnlwgt' ,
        'education' , 'education_num' , 'marital' ,
        'occupation' , 'relationship' , 'race' , 
        'sex' , 'capital_gain' , 'capital_loss' ,
        'hr_per_week' , 'country' , 'income'
    ]
)

adult.head()

,age,type-employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K\n
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K\n
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K\n
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K\n
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K\n

## Worksheet 4
The last cell has a bunch of column names, but the original data file didn't have any column names. How does Python know how to associate column name to its column. 

The commas separate the different column entries. Each line has a siliar organization/order to the data. 

There is more freedom in naming each column.

## Worksheet 5
Print the first few lines of the adult dataframe. Go to the pandas documentation website and read about the 'columns' parameter. 

See above, the head is printed.

### Recall the guiding research question
Are men more likely than women to become high income earners? Where hihg income is earning more than $50K/year

This is referring to a proportion of men who earn above, below and equal to the amount. This is different than asking if male ER doctors earn more than female ER doctors.

#### We'll use this research question to insprie the creation of several sub-dataframes to make our analysis a bit easier.

For example
- all men
- all women
- high income men
- high income women
- low income men
- low income women

In [51]:
# filtering columns
men = adult[ adult['sex'] == 'Male' ]
women = adult[adult['sex'] == 'Female']
men_high_income = men[ men['income'] == '>50K' ]
women_high_income = women[ women['income'] == '>50K' ]
men_low_income = adult[ (adult['sex']=='Male') & (adult['income']=='<=50K') ]
women_low_income = adult[ (adult['sex']=='Female') & (adult['income']=='<=50K') ]

In [52]:
women_high_income

Empty DataFrame
Columns: [age, type-employer, fnlwgt, education, education_num, marital, occupation, relationship, race, sex, capital_gain, capital_loss, hr_per_week, country, income]
Index: []